// put your custom CSS here!

/* Customize the menu bar */
.navbar {
  background-color: #E3DAC9;
  overflow: hidden;
}

/* Style the menu items */
.navbar ul {
  list-style-type: none; /* Remove the default list bullet points */
  padding: 5px; /* Remove padding from the menu */
}

.navbar li {
  display: inline; /* Display menu items inline */
  margin-right: 20px; /* Add spacing between menu items */
}

/* Style the menu item links */
.navbar a {
  color: white; /* Text color of menu items */
  text-decoration: none; /* Remove underlines from links */
  padding: 10px 20px; /* Padding around each menu item */

}

/* Change the color of menu items when hovered over */
.navbar a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}


/* Define a CSS class for project images */
.project-image {
  max-width: 350px; /* Set the maximum width to 100% to make images responsive */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Ensure the image is a block element */
  margin: 0 auto;
}

/* Style the image container */
.image-container {
  display: flex; /* Display images side by side */
  justify-content: space-between; /* Distribute space between images */
  margin-bottom: 20px; /* Add margin below the container for spacing */
}

/* Optional: Adjust image size on smaller screens */
@media (max-width: 768px) {
  .project-image {
    max-width: 48%; /* Adjust the width for smaller screens */
  }
}

/* Style for the Food Gallery section */
#food-gallery {
  margin-top: 20px; /* Add margin above the gallery */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three columns */
  gap: 20px; /* Add spacing between images */
  /*background-color: #E3DAC9; /* Change the background color here */
}

/* Style for individual food image containers */
.food-image-container {
  max-width: 100%; /* Set a maximum width for each container */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
  transition: transform 0.2s; /* Add a hover effect for containers */
  text-align: center; /* Center the image horizontally */
}

/* Style for individual food images */
.food-image {
  max-width: 100%; /* Set a maximum width for each image */
  height: auto; /* Allow the image to scale proportionally */
  display: inline-block; /* Prevent whitespace below images */
  /*border: 2px solid #ddd; /* Add a border around each image */
  /*border-radius: 4px; /* Add rounded corners to the image border */
}

/* Style for hover effect (scale up on hover) */
.food-image-container:hover {
  transform: scale(1.05);
}
